@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@500&family=Righteous&display=swap");

* {
  box-sizing: border-box;
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: "Open Sans", sans-serif;
  background-color: rgb(219 234 254 / 1);
}

.homepage-bg {
  background: #0575e6; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #021b79,
    #0575e6
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #021b79,
    #0575e6
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.font-open-sans {
  font-family: "Open Sans", sans-serif;
}

.font-big {
  font-family: "Righteous", cursive;
}

a {
  color: inherit;
  text-decoration: none;
}

.custom-bg {
  background-color: #1f2222c0;
}

ul {
  list-style: disc;
  list-style-position: inside;
}
ol {
  list-style: decimal-leading-zero;
  list-style-position: inside;
}

input:focus {
  outline: none;
  outline-width: 0;
}

/* button{
  @apply transition-all ease-in my-2 w-fit;
} */

/* custom scrollbar */
/* width */
::-webkit-scrollbar {
  width: 10px;
  height: 10px;
  border-radius: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #e2dfdf;
  border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #8d8a8a;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}
